.main {
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

.add-task-btn {
  border: 1.5px solid #BDBDBD;
  border-radius: 50%;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-color: #BDBDBD;
  color: #FFF;
  font-size: 3.5rem;
  cursor: pointer;
}

.add-task-btn:hover {
  border-color: #1bc4bc;
  background-color: #1bc4bc;
}
